In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

FileNotFoundError: [Errno 2] No such file or directory: 'style-table.css'

In [3]:
titles = pd.read_csv('titles.csv')
cast = pd.read_csv('cast.csv')
r_date = pd.read_csv('release_dates.csv')
titles

                                      title  year
0                        Tasveer Mere Sanam  1996
1                                  Only You  1994
2                      El pueblo del terror  1970
3                                   Machine  2007
4                                      MARy  2008
...                                     ...   ...
244909  Black Butterfly in a Colorful World  2018
244910        Hua fei hua wu chun man cheng  1980
244911                 Nippon dabi katsukyu  1970
244912        Under Siege 2: Dark Territory  1995
244913            She Must Be Seeing Things  1987

[244914 rows x 2 columns]

In [11]:
cast

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.0
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
...,...,...,...,...,...,...
3786171,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3786172,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3786173,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0
3786174,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3786175,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

In [12]:
r_date

                          title  year      country        date
0         #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                         #BKKY  2016     Cambodia  2017-10-12
2                       #Beings  2015      Romania  2015-01-29
3                     #Captured  2017          USA  2017-09-05
4        #Ewankosau saranghaeyo  2015  Philippines  2015-01-21
...                         ...   ...          ...         ...
479483  xXx: State of the Union  2005      Uruguay  2005-04-29
479484  xXx: State of the Union  2005       Poland  2005-06-03
479485  xXx: State of the Union  2005       Turkey  2005-06-03
479486  xXx: State of the Union  2005        China  2005-06-17
479487  xXx: State of the Union  2005       Greece  2005-06-24

[479488 rows x 4 columns]

### How many movies are listed in the titles dataframe?

In [ ]:
len(titles)

In [ ]:
titles.shape

### What are the earliest two films listed in the titles dataframe?

In [ ]:
titles.sort_values('year').head(2)

### How many movies have the title "Hamlet"?

In [ ]:
len(titles[titles['title']=='Hamlet'])

### How many movies are titled "North by Northwest"?

In [ ]:

len(titles[titles['title']=='North by Northwest'])

### When was the first movie titled "Hamlet" made?

In [ ]:
titles[titles['title']=='Hamlet'].min()

### List all of the "Treasure Island" movies from earliest to most recent.

In [ ]:
titles[titles['title']=='Treasure Island'].sort_values('year')

### How many movies were made in the year 1950?

In [ ]:
len(titles[titles['year']==1950])

### How many movies were made in the year 1960?

In [ ]:
len(titles[titles['year']==1960])

### How many movies were made from 1950 through 1959?

In [ ]:
len(titles[(titles['year']>= 1950) & (titles['year']<=1959)] )

### In what years has a movie titled "Batman" been released?

In [ ]:
titles[titles['title']=='Batman']

### How many roles were there in the movie "Inception"?

In [15]:
len(cast[cast['title']=='Inception'])

78

In [13]:
cast.columns

Index(['title', 'year', 'name', 'type', 'character', 'n'], dtype='object')

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [52]:
len(cast[(cast['title']=='Inception') & (cast['n'].isna())])

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [50]:
len(cast[(cast['title']=='Inception') & cast['n'].notna()])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [57]:
cast[(cast['title']=='North by Northwest') & cast['n'].notna()].sort_values('n').iloc[:,2]

871426               Cary Grant
3518333         Eva Marie Saint
1457165             James Mason
3157232     Jessie Royce Landis
356707           Leo G. Carroll
3048272    Josephine Hutchinson
1695173             Philip Ober
1275337           Martin Landau
2447081           Adam Williams
1811387            Edward Platt
665768        Robert Ellenstein
2295714            Les Tremayne
464736          Philip Coolidge
1508344           Patrick McVey
206471             Edward Binns
1384780               Ken Lynch
Name: name, dtype: object

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [62]:
cast[(cast['title']=='Sleuth') & (cast['year']==1972)].sort_values('n').iloc[:,2]

1705394      Laurence Olivier
326773          Michael Caine
373876         Alec Cawthorne
1465483    John (II) Matthews
2724553    Eve (III) Channing
1448690          Teddy Martin
Name: name, dtype: object

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [65]:
cast[(cast['title']=='Sleuth') & (cast['year']==2007)].sort_values('n').iloc[:,2]

326774           Michael Caine
1293634               Jude Law
1805907          Harold Pinter
260242         Kenneth Branagh
373877     Alec (II) Cawthorne
2724552      Eve (II) Channing
3370424      Carmel O'Sullivan
Name: name, dtype: object

### How many roles were credited in the silent 1921 version of Hamlet?

In [67]:
len(cast[(cast['title']=='Hamlet') & (cast['year']==1921)])

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [71]:
len(cast[(cast['title']=='Hamlet') & (cast['year']==1996) ])

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [72]:
cast.columns

Index(['title', 'year', 'name', 'type', 'character', 'n'], dtype='object')

In [75]:
len(cast[(cast['title']=='Hamlet') & (cast['character']=='Hamlet') ])

18

### How many people have played an "Ophelia"?

In [81]:
len(cast[(cast['character']=='Ophelia') ])

117

### How many people have played a role called "The Dude"?

In [82]:
len(cast[(cast['character']=='The Dude') ])

19

### How many people have played a role called "The Stranger"?

In [83]:
len(cast[(cast['character']=='The Stranger') ])

212

### How many roles has Sidney Poitier played throughout his career?

In [85]:
len(cast[(cast['name']=='Sidney Poitier') ])

43

### How many roles has Judi Dench played?

In [87]:
len(cast[(cast['name']=='Judi Dench') ])

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [35]:
cast[(cast['name']=='Cary Grant') & (cast['year']>=1940) & (cast['year']<=1949) & (cast['n']==2) ].sort_values('year')

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [34]:
cast[(cast['name']=='Cary Grant') & (cast['year']>=1940) & (cast['year']<=1949)].sort_values('year')

,title,year,name,type,character,n
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871423,My Favorite Wife,1940,Cary Grant,actor,Nick Arden,2.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871433,Penny Serenade,1941,Cary Grant,actor,Roger Adams,2.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871405,George White's Scandals,1945,Cary Grant,actor,Cary Grant,NaN
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871466,Without Reservations,1946,Cary Grant,actor,Cary Grant,NaN
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [28]:
len(cast[(cast['type']=='actor') & (cast['year']==1950)])

16760

### How many roles were available for actresses in the 1950s?

In [29]:
len(cast[(cast['type']=='actresses') & (cast['year']==1950)])

0

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [41]:
len(cast[(cast['year']<=1989) & (cast['n']==1)])

77288

### How many non-leading roles were available through from the beginning of film history through 1980?

In [42]:
len(cast[(cast['year']<=1989) & (cast['n']!=1)])

1371086

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [88]:
cast.columns

Index(['title', 'year', 'name', 'type', 'character', 'n'], dtype='object')

In [91]:
len(cast[(cast['year']>=1980) & (cast['year']<=1989) & (cast['n'].isna())])

53028