In [1]:
## importing modules
import pandas as pd 
import numpy as np
from sklearn import preprocessing
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [2]:
loan = pd.read_excel('Bank_Personal_Loan_Modelling.xlsx',sheet_name=1,index_col='ID')
loan.head()

,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
ID,,,,,,,,,,,,,
1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [3]:
loan.isnull().sum()

Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [4]:
loan.columns

Index(['Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [5]:
features = ['Age', 'Experience', 'Income', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Securities Account',
       'CD Account', 'Online', 'CreditCard']

In [6]:
## random forest model
rf_model = RandomForestClassifier(n_estimators=1000,oob_score=True,max_features=2)
rf_model.fit(X= loan[features],y= loan['Personal Loan'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [7]:
for features,imp in zip(features,rf_model.feature_importances_):
    print(features,imp);

Age 0.04489099746433074
Experience 0.04411286927570191
Income 0.3456946251120159
Family 0.09737844769715659
CCAvg 0.17991785529760174
Education 0.16635317748359113
Mortgage 0.04282850621904063
Securities Account 0.005432942830749193
CD Account 0.0548516776942478
Online 0.008521724797508633
CreditCard 0.010017176128055767

In [8]:
print('Accuracy :',rf_model.oob_score_)

Accuracy : 0.9874

# Observation:
The most important independent variable here are : 'Income','Education','Family'and 'CCAvg'.

In [9]:
## decision tree based on these three features:

ID_VAR = pd.DataFrame([loan['Income'],loan['Education'],loan['CCAvg']]).T
tree_model = tree.DecisionTreeClassifier(max_depth=8)
tree_model.fit(X = ID_VAR,y= loan['Personal Loan'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [13]:
## exporting decision tree:
with open ('Dtreeloan.dot','w') as f:
    f= tree.export_graphviz(tree_model,feature_names=['Income','Education','CCAvg'],out_file=f);

In [12]:
tree_model.score(X= ID_VAR,y= loan['Personal Loan'])

0.9814